<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/static_home/styles.css') }}">
</head>
<body>

    <div class="header">
        <button class="menu-btn" id="menuBtn">☰ Главное меню</button>
    </div>

    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="/home.html"><strong>Главная страница</strong></a></li>
            <li><a href="/order_load_page.html">Страница заказов</a></li>
            <li><a href="/lots_page.html">Страница формирования лотов</a></li>
            <li><a href="/lots_page.html">Страница лотов</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="center-buttons">
            <button onclick="window.location.href='/order_load_page.html'">Заказы</button>
            <button onclick="window.location.href='/lots_page.html'">Сформировать</button>
            <button onclick="window.location.href='/lots_page.html'">Лоты</button>
        </div>
        <h2><strong>Сервис по автоматическому лотированию и еще какое-то описание</strong></h2>
    </div>

    <script src="{{ url_for('static',filename='/static_home/script.js') }}"></script>
</body>
</html>
