<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формирование лотов</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/lots_create_page/styles.css') }}">
</head>
<body>

    <div class="header">
        <button class="menu-btn" id="menuBtn">☰ Главное меню</button>
        <h2><a href="/order_page.html">Заказы</a></h2>
        <h2><a href="/lots_create_page.html"><u>Сформировать</u></a></h2>
        <h2><a href="/lots_page.html">Лоты</a></h2>
    </div>

    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="/home.html">Главная страница</a></li>
            <li><a href="/order_page.html">Страница заказов</a></li>
            <li><a href="/lots_create_page.html"><strong>Страница формирования лотов</strong></a></li>
            <li><a href="/lots_page.html">Страница лотов</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="orders-filters">
            <h2>Заказы</h2>
            <h2 id="start-date">_</h2>
            <h2>по</h2>
            <h2 id="end-date">_</h2>
            <button id="btn-calendar-1">Выберете дату</button>
        </div>
        <div class="orders-statistics">
            <h2>Количество заказов к обработке:</h2>
            <h2 id="number-of-orders"></h2>
            <h2>Количество позиций:</h2>
            <h2 id="number-of-positions"></h2>
        </div>
        <div class="center-buttons">
            <button onclick="window.location.href='/lots_create_page.html'">Сформировать лоты</button>
        </div>
    </div>

    <div id="calendarMenu" class="hidden-calendar">
        <div id="calendarHeader">
            <select id="yearSelector"></select>
            <button id="prevMonth">&lt;</button>
            <span id="monthYear"></span>
            <button id="nextMonth">&gt;</button>
            <button id="closeCalendar" class="close-btn">✕</button>
        </div>
        <div id="calendar"></div>
        <button id="submitDatesBtn">Выбрать даты</button>
    </div>

    <script src="{{ url_for('static',filename='/lots_create_page/script.js') }}"></script>
</body>
</html>
