<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLSX Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/order_page/styles.css') }}">
    <div id="dataDiv" style="display: none;">{{data}}</div>
</head>
<body>
    <div class="header">
        <button class="menu-btn" id="menuBtn">☰ Главное меню</button>
        <button class="menu-btn" id="ordersBtn"><<</button>
        <h2><u>Заказы</u></h2>
        <h2>Сформировать</h2>
        <h2>Лоты</h2>
    </div>

    <div class="table-section" id="tableSection">
        <table>
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        <button id="submitOrderBtn">Сохранить</button>
    </div>

    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="/home.html">Главная страница</a></li>
            <li><a href="/order_page.html">Страница заказов</a></li>
            <li><a href="/lots_page.html">Страница формирования лотов</a></li>
            <li><a href="/lots_page.html">Страница лотов</a></li>
        </ul>
    </div>

    <div id="sidebar-orders" class="sidebar-orders">
        <ul>
            <li><input type="text" id="filters" placeholder="Добавить фильтры">
                <div class="filters-box" id="filters-box">
                    <ul id="filters-ul">
                    </ul>
                </div></li>
            <li><a href="/order_load_page.html">Загрузить заказ</a></li>
            <li><div>Все заказы</div>
                <div><ul class="sidebar-orders-menu-scroll">
                    <li><a href="#option1">Option 1</a></li>
                </ul></div></li>
        </ul>
    </div>

    <script src="{{ url_for('static',filename='/order_page/script.js') }}"></script>
</body>
</html>
