<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/static2/styles.css') }}">
</head>
<body>

    <div class="header">
        <button class="menu-btn" id="menuBtn">☰ Меню заказов</button>
        <h2 class="header-page"><strong>Сервис заказов</strong></h2>
        <div class="header-buttons">
            <a href="/home.html">Главная страница</a>
            <a href="/lots_page.html">Страница лотов</a>
        </div>
    </div>

    <div class="file-upload-section">
        <label for="xml-file" class="file-drop-zone" id="dropZone">Кликните или перетащите XML файл</label>
        <input type="file" id="xml-file" accept=".xml" style="display: none;">
        <button id="loadBtn" onclick="call_back()">Обработать .xml файл</button>
    </div>

    <script src="{{ url_for('static',filename='/static2/script.js') }}"></script>
</body>
</html>
