<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/static_order_load/styles.css') }}">
</head>
<body>

    <div class="header">
        <button class="menu-btn" id="menuBtn">☰ Главное меню</button>
        <button class="menu-btn" id="ordersBtn"><<</button>
    </div>

    <div class="file-upload-section">
        <label for="xml-file" class="file-drop-zone" id="dropZone">Кликните или перетащите XML файл</label>
        <input type="file" id="xml-file" accept=".xml" style="display: none;">
        <button id="loadBtn" onclick="call_back()">Обработать .xml файл</button>
    </div>

    <div class="table-section" id="tableSection">
        <table>
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        <button id="submitOrderBtn">Submit order file</button>
    </div>

    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="/home.html">Главная страница</a></li>
            <li><a href="/order_load_page.html"><strong>Страница заказов</strong></a></li>
            <li><a href="/lots_page.html">Страница формирования лотов</a></li>
            <li><a href="/lots_page.html">Страница лотов</a></li>
        </ul>
    </div>

    <div id="sidebar-orders" class="sidebar-orders">
        <ul>
            <li><input type="text" id="filters" value="Добавить фильтры">
                <div class="filters-box">
                    <div>Список фильтров:</div>
                    <button class="order_filter">Фильтр</button>
                </div></li>
            <li><a href="/order_load_page.html"><strong>Загрузить заказы</strong></a></li>
            <li><div>Все заказы</div>
                <div><ul class="sidebar-orders-menu-scroll">
                    <li><a href="#option1">Option 1</a></li>
                    <li><a href="#option2">Option 2</a></li>
                    <li><a href="#option3">Option 3</a></li>
                </ul></div></li>
        </ul>
    </div>

    <script src="{{ url_for('static',filename='/static_order_load/script.js') }}"></script>
</body>
</html>
