<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница заказов</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/packs_page/styles.css') }}">
    <div id="all-data-div" style="display: none;">{{all_packs}}</div>
</head>
<body>
    <div class="header" id="header">
        <button class="menu-btn" id="menuBtn">☰ Главное меню</button>
        <button class="menu-btn" id="ordersBtn"><<</button>
        <h2><a href="/order_page.html">Заказы</a></h2>
        <h2><a href="/lots_create_page.html">Сформировать</a></h2>
        <h2><a href="/packs_page.html"><u>Лоты</u></a></h2>
    </div>

    <div class="header-fill"></div>

    <div id="sidebar" class="sidebar">
        <ul>
            <li><a href="/home.html">Главная страница</a></li>
            <li><a href="/order_page.html">Страница заказов</a></li>
            <li><a href="/lots_create_page.html">Страница формирования лотов</a></li>
            <li><a href="/packs_page.html"><strong>Страница паков</strong></a></li>
        </ul>
    </div>

    <div id="sidebar-orders" class="sidebar-orders">
        <ul>
            <li><div><h2>Все паки</h2></div>
                <button id="calendarBtn">Открыть календарь</button>
                <input type="text" id="filters" placeholder="Поиск пака"></li>
                <li><div><ul class="sidebar-orders-menu-scroll" id="all-orders-ul">
                </ul></div></li>
        </ul>
    </div>

    <div class="main-content">
        <button id="btn-to-lots" onclick="window.location.href='/lots_page.html?id={{id}}'" style="display: none;">Перейти к лотам</button>
    </div>

    <button id="includeContent" onclick="window.location.href='/stats.html'" style="display: none;">Статистика пака</button>

    <div id="calendarMenu" class="hidden-calendar">
        <div id="calendarHeader">
            <select id="yearSelector"></select>
            <button id="prevMonth">&lt;</button>
            <span id="monthYear"></span>
            <button id="nextMonth">&gt;</button>
            <button id="closeCalendar" class="close-btn">✕</button>
        </div>
        <div id="calendar"></div>
        <button id="submitDatesBtn">Выбрать даты</button>
    </div>

    <script src="{{ url_for('static',filename='/packs_page/script.js') }}"></script>
</body>
</html>
